body{
    background: linear-gradient(#101010,#032c42,#101010);
    height: 900px;
    width: 1000px;
    font-family:  Agency FB;
}
#back{
    width: 928px;
    height: 900px;
    position: absolute;
    left: 200px;
}
#logo{
    position: fixed;
    width: 131px;
    height: 105px;
    padding-left: 20px;
}
#div1{
    height: 900px;
    width: 180px;
    background: linear-gradient(#101010,#032c42,#101010);
    position: absolute;
    color: #eeeeee;
}
#dash{
    color: #eeeeee ;
    position: fixed;
    left: 60px;
    top: 118px;
}
#dashimg{
    position: fixed;
    top:140px ;
    left: 20px;
    height: 25px;
    width: 25px;
}
#blur{
    position: fixed;
    top: 130.5px;
    left: 12px;
    border-radius: 8px;
    height: 43px;
    width: 170px;
    background-color:rgba(255, 255, 255, 0.209) ;
}
#trip{
    color: #eeeeee;
    position: fixed;
    left: 60px;
    top: 165px;
}
#tripimg{
    position: fixed;
    top: 190px;
    left: 20px;
    height: 25px;
    width: 25px;
}
#per{
    color: #eeeeee;
    position: fixed;
    left: 40px;
    top: 217px;
}
#perimg{
    position: fixed;
    top:235px ;
    left: 10px;
    height: 30px;
    width: 30px;
}
#grp{
    color: #eeeeee;
    position: fixed;
    left: 55px;
    top: 265px;
}
#grpimg{
    position: fixed;
    top:287px ;
    left: 14px;
    height: 25px;
    width: 30px;
}
#lineT{
    height: 916px;
    width: 16px;
    position: absolute;
    left: 188px;
    top: -10px;
    background-color: #A19F9F;
}
#line1{
    width: 176px;
    height: 2px;
    position: fixed;
    left: 10px;
    top: 125px;
    border-radius: 1px;
    background-color: #A19F9F;
}
#line2{
    width: 176px;
    height: 2px;
    position: fixed;
    left: 10px;
    top: 175px;
    border-radius: 1px;
    background-color: #A19F9F;
}
#line3{
    width: 176px;
    height: 2px;
    position: fixed;
    left: 10px;
    top: 225px;
    border-radius: 1px;
    background-color: #A19F9F;
}
#line4{
    width: 176px;
    height: 2px;
    position: fixed;
    left: 10px;
    top: 275px;
    border-radius: 1px;
    background-color: #A19F9F;
}
#line5{
    width: 176px;
    height: 2px;
    position: fixed;
    left: 10px;
    top: 325px;
    border-radius: 1px;
    background-color: #A19F9F;
}
#pop{
    background-color: #101010;
    border-radius: 8px;
    height: 45px;
    width: 130px;
    position: absolute;
    left: 221px;
    top: 40px;
}
#pop::after ,#pop::before{
    content: '';
    position: absolute;
    top: 22.3px;
    left: 64.5px;
    height: 100%;
    width: 100%;
    background-image: conic-gradient( #ff4545, #00ff99, #006aff, #ff0095,#ff4545);
    translate: -50% -50%;
    z-index: -1;
    padding: 2px;
    border-radius: 10px;
}
#pop::before{
    filter: blur(1.5rem);
    opacity: 1;
}
#head{
    color: #eeeeee;
    font-size: 32px;
    padding: 8px;
    position: absolute;
    top: -37px;
    text-decoration: underline;
}
#ab{
    color: #eeeeee;
    font-size: 25px;
    position: absolute;
    left: 720px;
    top: -8px;
    text-decoration: underline;
}
#lg{
    color: #eeeeee;
    font-size: 25px;
    position: absolute;
    left: 940px;
    top: -8px;
    text-decoration: underline;
}
#lgimg{
    height: 20px;
    width: 20px;
    position:absolute;
    left: 915px;
    top: 25px;
}

#TI{
    font-size: 23px;
    position: absolute;
    left: 15px;
    top: -13px;
}
#graph{
    position: absolute;
    left: 250px;
    top: 300px;
    height: 400px;
    width: 820px;
}
#cir{
    position: absolute;
    left: 275px;
    top: 660px;
    height: 270px;
    width: 770px;
}
#proimg{
    position: absolute;
    top: 11px;
    left: 1050px;
    height: 40px;
    width: 40px;
}
#Uname{
    color: #eeeeee;
    font-size: 15px;
    position: absolute;
    top: 37px;
    left: 1035px;
}
footer{
    height: 300px;
    width: 1128px;
    color: #d6e6fb;
    background-color: rgb(78, 15, 15);
    position: absolute;
    top: 910px;
    left: 0px;
}
#footlogo{
    width: 186px;
    height: 145px;
    position: absolute;
    left: 80px;
    top: 60px;
}
#Us{
    font-family: arial rounded MT;
    text-align: center;
    position: absolute;
    left: 420px;
    top: 40px;
}
#about{
    font-family: arial rounded MT;
    text-align: center;
    position: absolute;
    left: 770px;
    top: 40px;
}
#para{
    color: #d6e6fb;
    font-size: 35px;
    font-family: 'Segoe UI', sans-serif;
    position: absolute;
    left: 250px;
    top: 120px;
}
#paraline{
    font-family: sans-serif;
    position: absolute;
    left: 250px;
    top: 190px;
    color: #d6e6fb;
}

main {
font-family: 'Segoe UI', sans-serif;
      position: absolute;
      left: 235px;
      top: 280px;
    }

    .container {
      display: flex;
      justify-content: center;
      gap: 30px;
    }

    .card {
      background: #d3d3d3;
      border-radius: 12px;
      padding: 20px;
      width: 230px;
      height: 150px;
      text-align: center;
    }

    .card h3 {
      margin: 0 0 10px;
    }

    .amount {
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .percent {
      font-size: 18px;
      margin-left: 5px;
    }

    .input-field {
      width: 90%;
      padding: 6px;
      font-size: 16px;
      border: none;
      border-bottom: 2px solid #555;
      background: transparent;
      margin-top: 10px;
      margin-bottom: 10px;
      text-align: center;
    }

    .update-btn {
      padding: 10px 25px;
      border: none;
      color: white;
      font-size: 16px;
      border-radius: 6px;
      cursor: pointer;
    }

    .green { background: #28a745; }
    .red { background: #dc3545; }

    .update-btn:hover {
      opacity: 0.9;
    }     

.designwrap{
    height: 300px;
    width: 870px;
    background-color: #b3d3f7;
    position: absolute;
    left: 235px;
    top: 540px;
    border-radius: 20px;
}
#design1{
    position: absolute;
    border-radius: 17px;
    top: 30px;
    left: 30px;
    height: 245px;
    width: 250px;
    background-color: #032c42;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}
#design1:hover{
    transform: translateY(-5px);
}
#perso{
    color: #b3d3f7;
    font-family: 'Segoe UI',sans-serif;
    font-size: 25px;
    position: relative;
    top: -10px;
    left: 10px;
}
#perline{
    color: #b3d3f7;
    font-family: 'Segoe UI',sans-serif;
    font-size: 19px;
    position: relative;
    top: -10px;
    left: 10px;
}
#perbtn{
    background-color: #dc3545;
    border: none;
    color: #d3d3d3;
    border-radius: 5px;
    position: relative;
    left: 73px;
    height: 30px;
    width: 90px;
    font-family: 'Segoe UI', sans-serif;
}
#design2{
    position: absolute;
    border-radius: 17px;
    top: 30px;
    left: 310px;
    height: 245px;
    width: 250px;
    background-color: #032c42;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}
#design2:hover{
    transform: translateY(-5px);
}
#trpso{
    color: #b3d3f7;
    font-family: 'Segoe UI',sans-serif;
    font-size: 25px;
    position: relative;
    top: -10px;
    left: 10px;
}
#trpline{
    color: #b3d3f7;
    font-family: 'Segoe UI',sans-serif;
    font-size: 19px;
    position: relative;
    top: -10px;
    left: 10px;
}
#trpbtn{
    background-color: #24973f;
    border: none;
    color: #d3d3d3;
    border-radius: 5px;
    position: relative;
    left: 73px;
    height: 30px;
    width: 90px;
    font-family: 'Segoe UI', sans-serif;
}
#design3{
    position: absolute;
    border-radius: 17px;
    top: 30px;
    left: 590px;
    height: 245px;
    width: 250px;
    background-color: #032c42;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}
#design3:hover{
    transform: translateY(-5px);
}
#grpso{
    color: #b3d3f7;
    font-family: 'Segoe UI',sans-serif;
    font-size: 25px;
    position: relative;
    top: -10px;
    left: 10px;
}
#grpline{
    color: #b3d3f7;
    font-family: 'Segoe UI',sans-serif;
    font-size: 19px;
    position: relative;
    top: -10px;
    left: 10px;
}
#grpbtn{
    background-color: #dc3545;
    border: none;
    color: #d3d3d3;
    border-radius: 5px;
    position: relative;
    left: 73px;
    height: 30px;
    width: 90px;
    font-family: 'Segoe UI', sans-serif;
}