body {
    font-family: sans-serif;
    background: #f0f0f0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.container {
    background: white;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
input, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}
button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}
input{
    
    background-color: blue;
}