*{
    font-family: Agency FB;
}
body{
    background: linear-gradient(#101010,#101010,#1f4357);
    height: 497px;
    width: 510px;
}
#logo{
    width: 131px;
    height: 105px;
    padding-left: 1%;
}
#div1{
    color: white;
    font-size: 42px;
    float: right;
    position: absolute;
    top: 40px;
    left: 510px;
}
#div2{
    color: white;
    font-size: 19px;
    float: right;
    position: absolute;
    top: 88px;
    left:515px ;
}
#div3{
    background-color: #F3E8FF;
    text-align: center;
    position: absolute;
    top: 130px;
    left: 470px;
    height: 270px;
    width: 250px;
    border-radius: 22px;
}
#div3::after ,#div3::before{
    content: '';
    position: absolute;
    top: 135px;
    left: 126px;
    height: 100%;
    width: 100%;
    background-image: conic-gradient( #ff4545, #00ff99, #006aff, #ff0095,#ff4545);
    translate: -50% -50%;
    z-index: -1;
    padding: 0px;
    border-radius: 22px;
}
#div3::before{
    filter: blur(1.5rem);
    opacity: 1;
}
#username{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    position: relative;
    top: 15px;
    border-top: 3px;
    border-left: 0px;
    border-right: 0px;
    font-size: 15px;
    width: 190px;
    background-color: #F3E8FF;
    text-align: center;
}
#password{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    position: relative;
    top: 15px;
    border-top: 3px;
    border-left: 0px;
    border-right: 0px;
    font-size: 15px;
    width: 190px;
    background-color: #F3E8FF;
    text-align: center;
}
#pass{
    position: relative;
    top: 15px;
    font-size: 28px;
}
#email{
    position: relative;
    top: 10px;
    font-size: 28px;
}
#button{
    background-color: #f6d026;
    width: 130px;
    height: 40px;
    position: relative;
    top: 250px;
    left: 522px;
    color: black;
    border-radius: 10px;
    border-color: #392c04;
    border-width: 3.8px;
    font-size: 27px;
    font-family:'Times New Roman', Times, serif;
}
#button:hover{
    color:rgb(90, 27, 2);
    transform: scale(0.95);
    transition-duration: 1s;
}
#img{
    border-radius: 10px;
    height: 260px;
    width: 300px;
    position: absolute;
    bottom: 110px;
    left: 60px;
}
#message{
    color: #e70a0a;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;;
    position: absolute;
    left: 800px;
    top: 200px;
}