*{
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(#000000,#032436,#101010,#101010);
    width: 1120px;
    height: 1000px;
}
#logo{
    position: absolute;
    left: 20px;
    top: 15px;
    width: 106px;
    height: 80px;
}
#blur{
    background-color: rgba(0, 255, 255, 0.407);
    position: absolute;
    top: -0px;
    left: 0px;
    height: 300px;
    width: 1128px;
}
#pic{
    position: absolute;
    top: -0px;
    left: 0;
    height: 300px;
    width: 1128px;
}
#div1{
    font-family: Arial, Helvetica, sans-serif;
    color: #360101;
    font-size: 48px;
    text-align: center;
    position: absolute;
    top: 90px;
    left: 320px;
}
#tag{
    color: #360101;
    position: absolute;
    top: 190px;
    left: 445px;
    font-size: 22px;
}
#loginPic{
    height: 380px;
    width: 860px;
    position: absolute;
    left: 110px;
    top: 250px;
}
#Q{
    font-size: 100px;
    font-family: arial rounded MT;
    color: #3f87ec;
    position: absolute;
    left: 910px;
    top: 281px;
}
#line{
    color: #bfd8e5;
    font-family: arial rounded MT;
    position: absolute;
    left: 705px;
    top: 460px;
    font-size: 30px;
}
#div2{
    height: 225px;
    width: 350px;
    background-color: #212121;
    text-align: center;
    color: #0A98E0;
    font-size: 32px;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 640px;
    left: 110px;
}
#div2::after ,#div2::before{
    content: '';
    position: absolute;
    top: 122px;
    left: 185px;
    height: 100%;
    width: 100%;
    background-image: conic-gradient( #ff4545, #00ff99, #006aff, #ff0095,#ff4545);
    translate: -50% -50%;
    z-index: -1;
    padding: 0px;
    border-radius: 10px;
}
#div2::before{
    filter: blur(1.5rem);
    opacity: 1;
}
#button1{
    background-color: #2c2c2e;
    width: 261px;
    height: 66px;
    margin-top: 8%;
    color: #006aff;
    border-radius: 10px;
    font-size: 48px;
    font-family: schadow BT;
}
#div3{
    height: 225px;
    width: 365px;
    background-color: #212121;
    text-align: center;
    color: #0A98E0;
    font-size: 32px;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 640px;
    left: 650px;
}
#div3::after ,#div3::before{
    content: '';
    position: absolute;
    top: 122px;
    left: 192px;
    height: 100%;
    width: 100%;
    background-image: conic-gradient( #ff4545, #00ff99, #006aff, #ff0095,#ff4545);
    translate: -50% -50%;
    z-index: -1;
    padding: 0px;
    border-radius: 10px;
}
#div3::before{
    filter: blur(1.5rem);
    opacity: 1;
}
#button2{
    width: 261px;
    background-color: #2c2c2e;
    height: 66px;
    margin-top: 8%;
    color: #006aff;
    border-radius: 10px;
    font-size: 48px;
    font-family: schadow BT;
}
#button1:hover{
    color:rgb(163, 127, 255);
    transform: scale(1.07);
    transition-duration: 1s;
}
#button2:hover{
    color: rgb(163, 127, 255);
    transform: scale(1.07);
    transition-duration: 1s;
}
footer{
    height: 300px;
    width: 1128px;
    color: #d6e6fb;
    background-color: rgb(78, 15, 15);
    position: absolute;
    top: 960px;
    left: 0px;
}
#footlogo{
    width: 186px;
    height: 145px;
    position: absolute;
    left: 80px;
    top: 60px;
}
#Us{
    font-family: arial rounded MT;
    text-align: center;
    position: absolute;
    left: 420px;
    top: 40px;
}
#about{
    font-family: arial rounded MT;
    text-align: center;
    position: absolute;
    left: 770px;
    top: 40px;
}
 @media only screen and (min-width: 200px) and (max-width:600px)
            {                               
                #logo{
                    width: 81px;
                    height: 65px;
                    padding-left: 1%;
                }
                #div1{
                    color: white;
                    font-size: 27px;
                    position: relative;
                    left: 20px;
                    top: 10px;
                    padding-bottom: 2.5%;
                }
                #div2{
                    text-align: center;
                    background-color: #F3E8FF;
                    font-size: 24px;
                    border-radius: 25px;
                    position: relative;
                    top: 8px;
                    left: 70px;
                    padding: 3.5%;
                }
                #button1{
                    background-color: #333446;
                    width: 201px;
                    height: 50px;
                    margin-top: 8%;
                    color: white;
                    border-radius: 15px;
                    font-size: 35px;
                    font-family: schadow BT;
                }
                #div3{
                    text-align: center;
                    background-color: #F3E8FF;
                    font-size: 24px;
                    border-radius: 25px;
                    padding: 2%;
                    position: relative;
                    right: 37px;
                    top: 30px;
                }
                #button2{
                    width: 201px;
                    background-color: #333446;
                    height: 50px;
                    margin-top: 8%;
                    color: white;
                    border-radius: 15px;
                    font-size: 35px;
                    font-family: schadow BT;
                }
                #button1:hover{
                    color:rgb(163, 127, 255);
                    transform: scale(1.05);
                    transition-duration: 1s;
                }
                #button2:hover{
                    color: rgb(163, 127, 255);
                    transform: scale(1.05);
                    transition-duration: 1s;
                }
            }