<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static',filename='about_spendwise-Copy.css')}}">
    </head>
    <body>
        <div id="back"></div>
        <div id="lineT"></div>
        <div id="div1">
            <img src="{{url_for('static',filename='spendwise logo.png')}}" id="logo">
            <a href="/dashboard"><h2 id="dash">Dashboard</h2><img src="{{url_for('static',filename='Vector.png')}}" id="dashimg"></a>
            <a href="/create_trip"><h2 id="trip">Create Trip</h2><img src="{{url_for('static',filename='travel-icon 1.png')}}" id="tripimg"></a>
            <a href="/personal_expense"><h2 id="per">Personal Expense</h2><img src="{{url_for('static',filename='Expense report 1.png')}}" id="perimg"></a>
            <a href="/group_expense"><h2 id="grp">Group Expense</h2><img src="{{url_for('static',filename='travel-icon 1.png')}}" id="grpimg"></a>
        </div>
        <div id="blur"></div>
        <div id="line1"></div>
        <div id="line2"></div>
        <div id="line3"></div>
        <div id="line4"></div>
        <div id="line5"></div>
        <a href="/profile"><img src="{{url_for('static',filename='profile.png')}}" id="proimg">
        <h2 id="Uname">Amitesh Jadav</h2></a>
        <a href="/login"><p id="lg">LogOut</p><img src="{{url_for('static',filename='logout.png')}}" id="lgimg"></a>
        <p id="ab">About SpendWise</p>
        <div id="pop"><p id="head">About SpendWise</p></div>
        <img src="{{url_for('static',filename='Text1.png')}}" id="t1">
        <img src="{{url_for('static',filename='Text2.png')}}" id="t2">
        <img src="{{url_for('static',filename='Text3.png')}}" id="t3">
        <img src="{{url_for('static',filename='Text4.png')}}" id="t4">
        <footer>
            <img src="{{url_for('static',filename='spendwise logo.png')}}" id="footlogo">
            <div class="footercontainer">
                <div id="Us">
                    <h2>Contact Us</h2>
                        Email: spendwise2007@gamil.com<br><br>
                        Phone Number: 9428182627<br><br>
                        Support: Mon-Fri, 9AM - 6 pm
                </div>
                <div id="about">
                    <h2>About SpendWise</h2>
                        “SpendWise helps you track, manage,<br>
                         and split expenses—effortlessly.”
                </div>
            </div>
        </footer>
    </body>
</html>